.submit_btn {
    min-width: fit-content !important;
    display: block;
    
    margin: 1rem  0 0 auto;

    color: white;
    cursor: pointer;

    font-weight: 700;
    background-color: #52CF4F;
    border: 0;
    border-radius: 5px;

    &:hover {
        background-color: #4c944b;
    }

    &:active {
        opacity: 0.5;
    }

    &:disabled {
        opacity: 0.5;
        background-color: #AFAFAF;
        cursor: auto;

        &:hover {
            background-color: #AFAFAF;
            
        }
    
        &:active {
            opacity: 1;
        }
    }
}