.submit_btn {
    display: block;
    max-width: 300px;
    margin: 50px auto 0;

    color: #62487A;
    cursor: pointer;

    font-weight: 700;
    background-color: #EDDFFA;

    &:hover {
        background-color: #C994FB;
    }

    &:active {
        opacity: 0.5;
    }
}